.gfg {
    border-collapse: separate;
    border-spacing: 0 1rem;
}

.bef-roundeds-1rem {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.bef-roundede-1rem {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
