<!-- Header -->
<header
  class="d-flex mx-auto flex-wrap justify-content-between align-items-center bef bef-w-calcSD100per__MIN__2remED"
>
  <generic-button
    [type]="'return'"
    [classButton]="
      'd-block mat-elevation-z3 bef bef-btnOutline-btnBG bef-bc-btnBG bef-bW-btnBG bef-bS-solid bef-text-mainText bef-textHover-mainBG bef-cursor-pointer bef-r-100per bef-fs-2rem bef-h-2_5rem bef-w-2_5rem p-0'
    "
    [customHtml]="getHTML('back')"
    [disabledClassButton]="
      'd-block bef bef-btnOutline-btnBG__OPA__0_66 bef-bc-btnBG bef-bW-btnBG bef-bS-solid bef-text-mainText bef-textHover-mainBG bef-cursor-pointer bef-r-100per bef-fs-2rem bef-h-2_5rem bef-w-2_5rem p-0'
    "
    [tooltip]="'Regresar'"
    [tooltipPosition]="'left'"
    [showTooltip]="true"
    [tooltipClass]="'bef bef-r-1rem bef-text-mainBG bef-bg-btnBG bef-p-1rem'"
    (clicked)="returnToPreviousPage()"
  >
  </generic-button>
  <a
    href="/"
    [routerLink]="['/']"
    rel="noopener noreferrer"
    [matTooltip]="'Inicio'"
  >
    <logo-show [logoHeight]="'3rem'" [logoWidth]="'3rem'"></logo-show>
  </a>
  <div class="bef bef-w-2_5rem bef-h-2_5rem">
    <generic-button
      *ngIf="!!isEdit"
      [type]="'cancelEdit'"
      [classButton]="
        'd-block mat-elevation-z3 bef bef-btnOutline-btnBG bef-bc-btnBG bef-bW-btnBG bef-bS-solid bef-text-mainText bef-textHover-mainBG bef-cursor-pointer bef-r-100per bef-fs-1_5rem bef-h-2_5rem bef-w-2_5rem p-0'
      "
      [customHtml]="'X'"
      [disabledClassButton]="
        'd-block bef bef-btnOutline-btnBG__OPA__0_66 bef-bc-btnBG bef-bW-btnBG bef-bS-solid bef-text-mainText bef-textHover-mainBG bef-cursor-pointer bef-r-100per bef-fs-1_5rem bef-h-2_5rem bef-w-2_5rem p-0'
      "
      [tooltip]="'Cancelar edición'"
      [tooltipPosition]="'left'"
      [showTooltip]="true"
      [tooltipClass]="'bef bef-r-1rem bef-text-mainBG bef-bg-btnBG bef-p-1rem'"
      (clicked)="isEdit = !isEdit"
    >
    </generic-button>
  </div>
</header>
<!-- User -->
<!-- Name Edit -->
<div
  *ngIf="
    (changers.includes('name') || user.name === '') && isEdit === true;
    else elseEditNameTemplate
  "
  class="d-flex flex-wrap justify-content-center align-items-end bef bef-my-2rem"
>
  <generic-input
    class="bef bef-w-clampSD200pxCOMcalcSD100per__MIN__3remEDCOM400pxED"
    [labelTitle]="'Nombre del usuario'"
    [placeholder]="user.name"
    [thingFather]="user"
    [thing]="'name'"
    [type]="'text'"
    [spans]="[
      {
        text: 'El título del user es necesario.',
        evalThing: 'required',
        spanClass: 'd-block mx-auto fw-bold bef bef-text-danger bef-my-1rem'
      }
    ]"
    [required]="true"
    [required]="true"
    (changesInput)="changesInput($event)"
  ></generic-input>
  <generic-button
    [type]="'name'"
    [classButton]="
      'd-block mat-elevation-z3 bef bef-btn-btnBG bef-text-mainBG bef-cursor-pointer bef-r-100per bef-fs-1rem bef-h-2_5rem bef-w-2_5rem'
    "
    [customHtml]="'X'"
    [disabledClassButton]="
      'd-block bef bef-btn-btnBG__OPA__0_66 bef-text-mainBG bef-cursor-pointer bef-r-100per bef-fs-3rem bef-h-3_5rem bef-w-3_5rem'
    "
    [tooltip]="'Cancelar edición'"
    [tooltipPosition]="'left'"
    [showTooltip]="true"
    [tooltipClass]="'bef bef-r-1rem bef-text-mainBG bef-bg-btnBG bef-p-1rem'"
    [matButtonType]="'icon'"
    (clicked)="changeChangers($event)"
  >
  </generic-button>
</div>
<!-- Name -->
<ng-template #elseEditNameTemplate>
  <h1
    class="bef bef-fs-2rem fw-bold mx-auto text-break my-0 bef-mt-md-3rem text-start bef-textAlign-md-center"
  >
    {{ user.name }}
    <svg
      *ngIf="!!isEdit"
      (click)="changeChangers('name')"
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="32"
      fill="currentColor"
      class="bi bi-pencil"
      viewBox="0 0 16 16"
    >
      <path
        d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"
      />
    </svg>
  </h1>
</ng-template>
<!-- Email Edit -->
<div
  *ngIf="
    (changers.includes('email') || user.email === '') && isEdit === true;
    else elseEditEmailTemplate
  "
  class="d-flex flex-wrap justify-content-center align-items-end bef bef-my-2rem"
>
  <generic-input
    class="bef bef-w-clampSD200pxCOMcalcSD100per__MIN__3remEDCOM400pxED"
    [labelTitle]="'Email del usuario'"
    [placeholder]="user.email"
    [thingFather]="user"
    [thing]="'email'"
    [type]="'text'"
    [spans]="[
      {
        text: 'El subtítulo del user es necesario.',
        evalThing: 'required',
        spanClass: 'd-block mx-auto fw-bold bef bef-text-danger bef-my-1rem'
      }
    ]"
    [required]="true"
    (changesInput)="changesInput($event)"
  ></generic-input>
  <generic-button
    [type]="'email'"
    [classButton]="
      'd-block mat-elevation-z3 bef bef-btn-btnBG bef-text-mainBG bef-cursor-pointer bef-r-100per bef-fs-1rem bef-h-2_5rem bef-w-2_5rem'
    "
    [customHtml]="'X'"
    [disabledClassButton]="
      'd-block bef bef-btn-btnBG__OPA__0_66 bef-text-mainBG bef-cursor-pointer bef-r-100per bef-fs-3rem bef-h-3_5rem bef-w-3_5rem'
    "
    [tooltip]="'Cancelar edición'"
    [tooltipPosition]="'left'"
    [showTooltip]="true"
    [tooltipClass]="'bef bef-r-1rem bef-text-mainBG bef-bg-btnBG bef-p-1rem'"
    [matButtonType]="'icon'"
    (clicked)="changeChangers($event)"
  >
  </generic-button>
</div>
<!-- Email -->
<ng-template #elseEditEmailTemplate>
  <h2 class="text-start bef bef-textAlign-md-center my-0 bef-mb-md-3rem">
    {{ user.email }}
    <svg
      *ngIf="!!isEdit"
      (click)="changeChangers('email')"
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-pencil"
      viewBox="0 0 16 16"
    >
      <path
        d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"
      />
    </svg>
  </h2>
</ng-template>
<ng-container *ngIf="!!isEdit">
  <!-- PasswordChange -->
  <generic-input
    class="d-block mx-auto bef bef-w-clampSD250pxCOM90perCOM450pxED"
    [labelTitle]="(user._id !== '' ? 'Nueva C' : 'C') + 'ontraseña del usuario'"
    [placeholder]="
      (user._id !== '' ? 'Nueva C' : 'C') + 'ontraseña del usuario'
    "
    [thingFather]="user"
    [thing]="'password'"
    [type]="'password'"
    [spans]="[
      {
        text: 'La contraseña debe contener al menos una letra, una mayúscula, un número y un carácter especial. Además de tener una longitud de al menos 8 caracteres.',
        evalThing: 'password',
        spanClass: 'd-block mx-auto fw-bold bef bef-text-danger bef-my-1rem'
      }
    ]"
    [required]="true"
    (changesInput)="changesInput($event)"
  ></generic-input>
  <!-- PasswordChange Confirm-->
  <generic-input
    *ngIf="user.password !== ''"
    class="d-block mx-auto bef bef-w-clampSD250pxCOM90perCOM450pxED"
    [labelTitle]="'Confirmación de la nueva contraseña del usuario'"
    [placeholder]="'Confirmación de la nueva contraseña del usuario'"
    [thingFather]="user2compare"
    [thing]="'password'"
    [type]="'password'"
    [spans]="[
      {
        text: 'La confirmación de la contraseña debe ser igual a la contraseña.',
        evalThing: 'equal' + user.password,
        spanClass: 'd-block mx-auto fw-bold bef bef-text-danger bef-my-1rem'
      },
      {
        text: 'La contraseña debe contener al menos una letra, una mayúscula, un número y un carácter especial. Además de tener una longitud de al menos 8 caracteres.',
        evalThing: 'password',
        spanClass: 'd-block mx-auto fw-bold bef bef-text-danger bef-my-1rem'
      }
    ]"
    [required]="true"
    (changesInput)="changesInput($event)"
  ></generic-input>
  <!-- Admin Options -->
  <ng-container
    *ngIf="
      !!isEdit &&
      !!identity &&
      checkRole(identity.roleType, identity.generalRole, 'special')
    "
  >
    <h2
      class="fw-bold text-start bef bef-textAlign-md-center my-0 bef-mt-md-3rem bef-mb-md-1rem"
    >
      Tipo de rol del usuario
    </h2>
    <generic-input
      [placeholder]="user.roleType"
      [thingFather]="user"
      [thing]="'roleType'"
      [type]="'select'"
      [options]="[
        { type: 'menuitem', option: 'basic', click: 'roleType=basic' },
        { type: 'menuitem', option: 'premium', click: 'roleType=premium' },
        { type: 'menuitem', option: 'special', click: 'roleType=special' }
      ]"
      (clicked)="clickedDropdown($event)"
    ></generic-input>
    <h2
      class="fw-bold text-start bef bef-textAlign-md-center my-0 bef-mt-md-3rem bef-mb-md-1rem"
    >
      Rol general del usuario
    </h2>
    <generic-input
      [placeholder]="user.generalRole"
      [thingFather]="user"
      [thing]="'generalRole'"
      [type]="'select'"
      [options]="generalRoleOptions"
      (clicked)="clickedDropdown($event)"
    ></generic-input>
  </ng-container>
  <!-- Password For Submit -->
  <generic-input
    *ngIf="user._id !== ''"
    class="d-block mx-auto bef bef-my-2rem bef-w-clampSD250pxCOM90perCOM450pxED"
    [labelTitle]="'Contraseña Actual'"
    [placeholder]="'Contraseña Actual'"
    [thingFather]="user"
    [thing]="'lastPassword'"
    [type]="'password'"
    [spans]="[
      {
        text: 'La contraseña es necesaria para actualizar al usuario.',
        evalThing: 'required',
        spanClass: 'd-block mx-auto fw-bold bef bef-text-danger bef-my-1rem'
      },
      {
        text: 'La contraseña debe contener al menos una letra, una mayúscula, un número y un carácter especial. Además de tener una longitud de al menos 8 caracteres.',
        evalThing: 'password',
        spanClass: 'd-block mx-auto fw-bold bef bef-text-danger bef-my-1rem'
      }
    ]"
    [required]="true"
    (changesInput)="changesInput($event)"
  ></generic-input>
  <!-- Submit BTN -->
  <generic-button
    *ngIf="!!isEdit"
    [type]="'Editar'"
    [classButton]="
      'd-block mx-auto mat-elevation-z3 bef bef-my-2rem bef-btn-btnBG bef-text-mainBG bef-cursor-pointer bef-r-0_25rem bef-fs-1rem'
    "
    [customHtml]="user._id === '' ? 'Registrar usuario' : 'Actualizar cambios'"
    [disabledClassButton]="
      'd-block mx-auto bef bef-my-2rem bef-btn-btnBG__OPA__0_5 bef-text-mainBG bef-r-0_25rem bef-cursor-pointer bef-fs-1rem'
    "
    [tooltip]="user._id === '' ? 'Crear usuario' : 'Actualizar cambios'"
    [tooltipPosition]="'left'"
    [showTooltip]="true"
    [tooltipClass]="'bef bef-r-1rem bef-text-mainBG bef-bg-btnBG bef-p-1rem'"
    [matButtonType]="'raised'"
    [disabled]="!checkIfFormValid()"
    (clicked)="onSubmit()"
  >
  </generic-button>
</ng-container>
<!-- Options Buttons -->
<div
  *ngIf="!!showOptions"
  (click)="showOptions = !showOptions"
  class="position-fixed bef bef-t-0 bef-b-0 bef-w-100vw bef-h-100vh bef-bg-mainText__OPA__0_25 bef-z-9"
></div>
<div
  class="position-fixed bef bef-b-2rem bef-e-2rem bef-z-10 d-flex flex-column align-items-end bef-g-1rem"
>
  <div *ngIf="!!showOptions" class="d-flex flex-column bef bef-g-1rem">
    <div
      class="d-flex flex-row justify-content-end align-items-center bef bef-g-1rem"
      *ngFor="let option of options"
    >
      <span class="bef bef-text-mainBG">
        {{ option.text }}
      </span>
      <generic-button
        [type]="option.click"
        [classButton]="
          'd-flex align-items-center justify-content-center p-0 mat-elevation-z3 bef bef-btn-btnBG bef-text-mainBG bef-cursor-pointer bef-r-100per bef-fs-2_5rem bef-h-3rem bef-w-3rem'
        "
        [customHtml]="option.icon"
        [disabledClassButton]="
          'd-flex align-items-center justify-content-center p-0 bef bef-btn-btnBG__OPA__0_66 bef-text-mainBG bef-cursor-pointer bef-r-100per bef-fs-3rem bef-h-3_5rem bef-w-3_5rem'
        "
        [tooltip]="option.text"
        [tooltipPosition]="'left'"
        [showTooltip]="true"
        [tooltipClass]="
          'bef bef-r-1rem bef-text-mainBG bef-bg-btnBG bef-p-1rem'
        "
        [matButtonType]="'icon'"
        (clicked)="clickedButton($event)"
      >
      </generic-button>
    </div>
  </div>
  <generic-button
    [type]="'Show Options'"
    [classButton]="
      'd-block mat-elevation-z3 bef bef-btn-btnBG bef-text-mainBG bef-cursor-pointer bef-r-100per bef-fs-3rem bef-h-3_5rem bef-w-3_5rem'
    "
    [customHtml]="'+'"
    [disabledClassButton]="
      'd-block bef bef-btn-btnBG__OPA__0_66 bef-text-mainBG bef-cursor-pointer bef-r-100per bef-fs-3rem bef-h-3_5rem bef-w-3_5rem'
    "
    [tooltip]="'Show Options'"
    [tooltipPosition]="'left'"
    [showTooltip]="true"
    [tooltipClass]="'bef bef-r-1rem bef-text-mainBG bef-bg-btnBG bef-p-1rem'"
    [matButtonType]="'icon'"
    (clicked)="showOptions = !showOptions"
  >
  </generic-button>
</div>
