<div *ngIf="buttons.length > 0" [ngClass]="buttonComboClass">
  <generic-button *ngFor="let button of buttons;let i = index;let $last = last;" [exist]="$last" (ngInit)="cssCreate()"
    [type]="button.type ? button.type : 'customHTML ' + i" [classButton]="button.classButton ? button.classButton : ''"
    [disabledClassButton]="button.disabledClassButton ? button.disabledClassButton : ''"
    [customHtml]="button.customHtml ? button.customHtml : 'Button ' + i"
    [disabled]="button.disabled ? button.disabled : false" [tooltip]="button.tooltip ? button.tooltip : ''"
    [tooltipPosition]="button.tooltipPosition ? button.tooltipPosition : 'below'"
    [showTooltip]="button.showTooltip ? button.showTooltip : false"
    [tooltipClass]="button.tooltipClass ? button.tooltipClass : ''" (clicked)="clicked.emit($event)"
    (buttonId)="buttonId.emit({id: $event, index:i})"></generic-button>
</div>
